body {
    background-color: burlywood;
}

.div-box {
    height: 400px;
    width: 600px;
    background-color: bisque;
    margin: auto;
    margin-top: 140px;
}

.button-box {
    padding-top: 80px;
}

#btn-box {
    margin-left: 35%;
}

#quote-box {
    height: 220px;
    width: 100%;
    text-align: start;
    padding: 20px;
    font-size: 30px;
    color: darkgray;
}

#author-box {
    width: 100%;
    height: 50px;
    padding-right: 30px;
    font-size: 20px;
    color: green;
    text-align: end;
}